<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signed in successfully!</title>
</head>
<body>
    <h1>You signed in successfully! </h1>
    <h1 id='token' style='visibility:hidden'><%= data %></h1>
    
    <script>
        const token = document.getElementById('token').innerHTML;
        window.localStorage.setItem('velocityKey', token);
        
        fetch('https://api.github.com/user', {
            headers: {
                // Include the token in the Authorization header
                Authorization: 'token ' + token,
            },
        }).then(res => res.json())
        .then(res => {
            const login = res.login;
            localStorage.setItem('github_username', login);
        });
    </script>
</body>
</html>