:root {
  --raptorSpeed: 0.3s;
}

.raptor {
  position: absolute;
  left: 65px;
  width: 150px;
  height: 150px;
  background: url('/root/media/runningRaptor/Spritesheet_Raptor.png') left center;
  animation: playRaptor var(--raptorSpeed)  steps(6) infinite;
}

@keyframes playRaptor {
  100% { background-position: -900px; }
}

.background {
  position: absolute;
  width: 250px;
  height: 180px;
  background: url('/root/media/runningRaptor/Spritesheet_Background.png') left center;
  animation: playBackground calc(var(--raptorSpeed) * 11) steps(38) infinite;
}

@keyframes playBackground {
  100% { background-position: -9500px; }
}
