
div.container {
    background-color: #F4F1EC;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .name{
    font-family: 'Cayetano';
    text-align: center;
  }