

div.card#div-1 {
  width: 18rem;
}

div.card-header#div-2 {
  background-color: #A8936D;
  display: block;
}

div.card-footer {
  background-color: #F4F1EC;
}

div#userVelocityRaptorName {
  font-family: 'Cayetano Round';
  font-size: large;
  float: left;
}

a#a-1 {
  float: right;
  margin-left: 10px;
}

a#a-2 {
  float: right;
}

div.card-body#div-3 {
  height: 13rem;
}

img#img-1 {
  position: absolute;
}

img#img-2 {
  position: absolute;
  left: 65px;
}

img#Magic_hat {
  position: absolute;
  bottom: 250px;
  right: 150px;
  display: none;
}

img#Crown {
  position: absolute;
  bottom: 263px;
  right: 160px;
  display: none;
}

img#Saber_blue {
  position: absolute;
  bottom: 226px;
  left: 87px;
  display: none;
}

img#Back_AngelWing {
  position: absolute;
  bottom: 225px;
  left: 100px;
  display: none;
}

img#SpikedTail_Orange {
  position: absolute;
  bottom: 233px;
  left: 165px;
  display: none;
}

img#Tail_SpikedGreen {
  position: absolute;
  bottom: 233px;
  left: 165px;
  display: none;
}

img#Head_AfroBrown {
  position: absolute;
  bottom: 250px;
  right: 150px;
  display: none;
}

img#Hand_Yoyo {
  position: absolute;
  bottom: 203px;
  left: 72px;
  display: none;
}

img#BackPack_Blue {
  position: absolute;
  bottom: 240px;
  left: 110px;
  display: none;
}

img#RocketBooster {
  position: absolute;
  bottom: 194px;
  left: 67px;
  display: none;
}

img#Back_HappyBlob {
  position: absolute;
  bottom: 186px;
  left: 68px;
  display: none;
}

div.text-center#div-4 {
  font-family:'Cayetano Round';
  color: black;
  position: absolute;
  left: 10px;
  bottom: 143px;
}

#div-5 {
  font-family:'Bahnschrift';
  color: blue;
}

ul#githubIssuesList {
  font-family:'Bahnschrift';
  list-style-type: square;
  height: 73px;
  overflow: auto;
}
