div.card#div-1 {
  background-color: #F4F1EC;
  font-family:'Bahnschrift Regular';
  width: 18rem;
}

div.card-header#div-2 {
  background-color: #A8936D;


  display: block;
}

div#div-3 {
  float: left;
  font-family: 'Cayetano Round';
  font-size: large;
  display: block;
}

a#a-1 {
  float: right;
}
