div.container#div-1 {
  background-color: #a8936d;
  width: 500px;
  height: 315px;
}

div.col#myvelocityraptor {
  font-family: Bahnschrift, sans-serif;
  display: none;
}

div.card-body#div-2 {
  min-height: 10rem;
}

.card-body {
  padding: 0;
}

body {
  font-weight: bold;
}

img#img-1 {
  position: absolute;
  bottom: 130px;
  left: 80px;
}

img#Magic_hat_ {
  position: absolute;
  bottom: 183px;
  right: 136px;
  display: none;
}

img#Head_AfroBrown_ {
  position: absolute;
  bottom: 183px;
  right: 136px;
  display: none;
}

img#Crown_ {
  position: absolute;
  bottom: 185px;
  right: 138px;
  display: none;
}

img#Saber_blue_ {
  position: absolute;
  bottom: 156px;
  left: 89px;
  display: none;
}

img#Back_AngelWing_ {
  position: absolute;
  bottom: 160px;
  left: 100px;
  display: none;
}

img#SpikedTail_Orange_ {
  position: absolute;
  bottom: 158px;
  left: 135px;
  display: none;
}

img#Tail_SpikedGreen_ {
  position: absolute;
  bottom: 159px;
  left: 135px;
  display: none;
}

img#BackPack_Blue_ {
  position: absolute;
  bottom: 175px;
  left: 110px;
  display: none;
}

img#Hand_Yoyo_ {
  position: absolute;
  bottom: 148px;
  left: 83px;
  display: none;
}

img#RocketBooster_ {
  position: absolute;
  bottom: 157px;
  left: 107px;
  display: none;
}

img#Back_HappyBlob_ {
  position: absolute;
  bottom: 134px;
  left: 81px;
  display: none;
}

div#div-3 {
  bottom: 80px;
  left: 110px;
}

#h9-1 {
  font-size: 15px;
  left: -48px;
  bottom: 20px;
  margin-right: 10px;
}

#backAccessories {
  display: none;
}

#tailAccessories {
  display: none;
}

#handAccessories {
  display: none;
}

div.col#myGithubRepo {
  display: none;
}

.Settings {
  font-family: Cayetano, sans-serif;
}

div.card-body#div-4 {
  height: 150px;
  overflow: auto;
}

#raptorNameAccessory {
  padding-top: 65px;
  margin-bottom: 1px;
}

#switch_acc {
  position: absolute;
  width: 300px;
  right: -20px;
  bottom: 70px;
}

#head {
  font-size: 10px;
  width: 45px;
}

#back {
  font-size: 10px;
  width: 45px;
}

#tail {
  font-size: 10px;
  width: 45px;
}

#hand {
  font-size: 10px;
  width: 45px;
}

.btn-sm {
  padding: 0.1rem 0.5rem;
  font-size: 0.7rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
