div.container#div-1 {
  background-color: #A8936D;
  width: 500px;
  height: 315px;
}

div.col#myvelocityraptor {
  font-family: 'Cayetano Round';

  display: none;
}

div.card-body#div-2 {
  min-height: 10rem;
}


button.button#clearAll {
  font-family: 'Cayetano Round';
  position: absolute;
  right: -2px;
  top: -11px;
  font-size: 8px;
  border-color: white;
}

img#img-1 {
  position: absolute;
  bottom: 130px;
  left: 80px;
}

img#Magic_hat_ {
  position: absolute;
  bottom: 183px;
  right: 136px;
  display: none;
}

img#Head_AfroBrown_ {
  position: absolute;
  bottom: 183px;
  right: 136px;
  display: none;
}

img#Crown_ {
  position: absolute;
  bottom: 185px;
  right: 138px;
  display: none;
}

img#Saber_blue_ {
  position: absolute;
  bottom: 156px;
  left: 89px;
  display: none;
}

img#Back_AngelWing_ {
  position: absolute;
  bottom: 160px;
  left: 100px;
  display: none;
}

img#SpikedTail_Orange_ {
  position: absolute;
  bottom: 158px;
  left: 135px;
  display: none;
}

img#Tail_SpikedGreen_ {
  position: absolute;
  bottom: 159px;
  left: 135px;
  display: none;
}

img#BackPack_Blue_ {
  position: absolute;
  bottom: 175px;
  left: 110px;
  display: none;
}

img#Hand_Yoyo_ {
  position: absolute;
  bottom: 148px;
  left: 83px;
  display: none;
}

img#RocketBooster_ {
  position: absolute;
  bottom: 143px;
  left: 81px;
  display: none;
}

img#Back_HappyBlob_ {
  position: absolute;
  bottom: 134px;
  left: 81px;
  display: none;
}

div#div-3 {
  position: absolute;
  bottom: 80px;
  left: 50px;
}

#h9-1 {
  font-size: 15px;
  position: absolute;
  left: -48px;
  bottom: 20px;
}

#backAccessories {
  display: none;
}

#tailAccessories {
  display: none;
}

#handAccessories {
  display: none;
}

div.col#myGithubRepo {
  display: none;
}

.Settings{
  font-family: 'Cayetano';
}

div.card-body#div-4 {
  height: 150px;
  overflow: auto;
}

#raptorNameAccessory {
  position: relative;
  bottom: 35px;
  right: -25px;
}

#switch_acc {
  position: absolute;
  width: 300px;
  right: -120px;
  bottom: -10px;
}

#head {
  font-size: 10px;
  width: 45px;
}

#back {
  font-size: 10px;
  width: 45px;
}

#tail {
  font-size: 10px;
  width: 45px;
}

#hand {
  font-size: 10px;
  width: 45px;
}
